@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: #000;
}

body::-webkit-scrollbar-thumb {
  background-color: #ff581c;
  border-radius: 20px;
  border: 2px solid #000000;
}

body {
  background-image: url('../../../public/background.jpg');
  width: 100%;
  background-size: cover;
  background-position: center center;
  height: 100vh
}


:root {
  --primary-backgrond-color: #000000;
  --primary-font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --primary-font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class],
ol[class] {
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

input,
textarea {
  border: none;
  outline: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: var(--primary-backgrond-color);
  font-family: var(--primary-font-family);
  font-size: var(--primary-font-size);
}

body,
button,
input,
select,
textarea {
  line-height: 1.5;
}

button:focus {
  outline: none;
}